<!DOCTYPE html>
@using Laundry.Models
@{ 
    
    ViewBag.Title = "PassData";
}
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @{
        var secondData = ViewBag.Pack;
        var data = ViewBag.Message;

    }

    @foreach (SecondMachineOrder second in secondData)
    {
        <h3>@second.clientName</h3>
    }

    @foreach (FirstMachineOrder first in data)
    {
        <h3>@first.clientName</h3>
    }

</body>
</html>