@model Laundry.Models.FirstMachineOrder


    <div class="card mb-4 shadow-sm" style=" border:hidden; border-radius:.25rem; margin:2px" >
        <div class="card-header">
            <h4 class="my-0 fw-normal">Free</h4>
        </div>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Забронировать</button>
        </div>


<style>
    .itemContainer {
        <style="margin:2px; border:hidden; border-radius:.25rem; text-align:left; padding-left: 10px" type="text"/> 
        word-wrap: break-word;
        background-color: #5D997E;
        background-clip: border-box;
        border: hidden;
        border-radius: .25rem;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
        margin-bottom: 1.5rem !important;
        margin-left: 5px;
        margin-right: 5px;
        flex: 1 0 0%;
    }

    .reserveButton {
        align-self:flex-start;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height:5%;
        width: 100%;
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
        color:burlywood;
        background-color: burlywood;
        border-color: #007bff;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        user-select: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
</style>